.form {
  display: flex;
  flex-direction: column;
  align-items : center;
}

.form input {
  margin-bottom: 10px;
}

.form button {
  margin: 10px 0;
}

.tasks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.taskItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.taskItem span {
  margin-right: 10px;
}